altgraph==0.10.2
bdist-mpkg==0.5.0
Django==1.9.5
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.8
macholib==1.5.1
MarkupSafe==0.23
nltk==3.1
oauthlib==1.0.3
pandas==0.17.0
py2app==0.7.3
pycrypto==2.6.1
requests==2.7.0
requests-oauthlib==0.5.0
six==1.4.1
spotipy==2.3.8
virtualenv==15.0.3
