{% extends "layout.html" %}
{% block body %}
<style type="text/css">
  div.input-group-addon>a{
    color:black;
  }
</style>
<div class="row">
<div class="col-sm-4 col-sm-offset-4">
<form class="form-horizontal" method="post" id="searchBarForm">
  <div class="form-group form-group-lg">
        <div class="input-group">
          <input class="form-control input-l" type="search" name="query" placeholder="Search song..." />

          <div class="input-group-addon">
            <a href="javascript:{}" onclick='submitQuery()'><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
          </div>
        </div>
        {% if error %}
        <span class="help-block">No se encontraron resultados para '{{ query }}'</span>
        {% endif %}
      </div>
</form>
</div>
</div>
<script type="text/javascript">
  submitQuery = function(){
    document.getElementById('searchBarForm').submit();
    return false;
  }
</script>
{% endblock %}
