{% extends "layout.html" %}
{%block body %}
<div class="row">
  <div class="col-md-5 col-md-offset-4 text-center">
    <h1>NOT QUITE MY TEMPO...</h1>
  </div>

  <div class="col-md-5 col-md-offset-4">

    <dl class="dl-horizontal">
      <dt>Time signature</dt>
      <dd>{{ track[0].time_signature }}</dd>

      <dt>Key</dt>
      <dd>{{ keys[track[0].key] }}</dd>

      <dt>Mode</dt>
      <dd>{{ modes[track[0].mode] }}</dd>

      <dt>Tempo</dt>
      <dd>{{ track[0].tempo }} BPM</dd>
      <br>
      <dt>Danceability</dt>
      <dd>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ track[0].danceability }}" aria-valuemin="0" aria-valuemax="1" style="width: {{ track[0].danceability * 100}}%">
            {{ track[0].danceability * 100}}%
          </div>
        </div>
      </dd>

      <dt>Energy</dt>
      <dd>
        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ track[0].energy }}" aria-valuemin="0" aria-valuemax="1" style="width: {{ track[0].energy * 100}}%">
            {{ track[0].energy * 100}}%
          </div>
        </div>
      </dd>
    </dl>

  </div>

  <div class="col-md-5 col-md-offset-4 text-center">

    <iframe src="https://embed.spotify.com/?uri=spotify:track:{{ track[0].id }}&theme=white&view=coverart" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

  </div>

  <div class="col-sm-12 text-center" >
    <a href="/" class="btn btn-primary btn-lg">ENCORE!</a>
  </div>
</div>
{% endblock %}
