{% extends "layout.html" %}
{%block body %}
<div class="row">
  <div class="col-md-5 col-md-offset-4 text-center">
    <h1>NOT QUITE MY TEMPO...</h1>
  </div>

  <div class="col-md-5 col-md-offset-4">

    <dl class="dl-horizontal">
      <dt>Time signature</dt>
      <dd>{{ track[0].time_signature }}</dd>

      <dt>Key</dt>
      <dd>{{ keys[track[0].key] }}</dd>

      <dt>Tempo</dt>
      <dd>{{ track[0].tempo }} BPM</dd>

      <dt>Danceability</dt>
      <dd>{{ track[0].danceability }}</dd>

      <dt>Energy</dt>
      <dd>{{ track[0].energy }}</dd>
    </dl>

  </div>

  <div class="col-md-5 col-md-offset-4 text-center">

    <iframe src="https://embed.spotify.com/?uri=spotify:track:{{ track[0].id }}&theme=white&view=coverart" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

  </div>
</div>
{% endblock %}
